<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', paymentsCurr='(current)', walletsCurr='', budgetsCurr='', categoriesCurr='', reportsCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Szczegóły transakcji</h1>
    </div>



    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover" >
            <thead class="thead-light">
            <tr>
                <th th:text="#{names.payment.id}"></th>
                <th th:text="#{names.payment.date}"></th>
                <th th:text="#{names.payment.amount}"></th>
                <th th:text="#{names.payment.title}"></th>
                <th th:text="#{names.payment.category}"></th>
                <th th:text="#{names.payment.account}"></th>
                <th th:text="#{names.payment.budget}"></th>
                <th th:text="#{names.payment.type}"></th>
            </tr>
            </thead>


            <tbody>
            <tr th:object="${payment}">
                <td><span th:text="${payment?.getId()?.toString()}"></span></td>
                <td><span th:text="${payment?.getPaymentDate()?.toString()}"></span></td>
                <td><span th:text="${payment?.getAmount()?.toString()}"></span></td>
                <td><span th:text="${payment?.getTitle()?.toString()}"></span></td>
                <td><span th:text="${payment?.getPaymentCategory()?.getName()?.toString()}"></span>
                </td>
                <td><span th:text="${payment?.getAccount()?.getName()?.toString()}"></span></td>
                <td><span th:text="${payment?.getBudget()?.getName()?.toString()}"></span></td>
                <td><span th:text="${payment?.getPaymentType()?.toString()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
