<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', paymentsCurr='(current)', walletsCurr='', budgetsCurr='', categoriesCurr='', reportsCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Transakcje</h1>
        <!--        <form th:action="@{/addPaymentToList/}" th:object="${payment}" method="post">-->
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <form th:action="@{/searchPayments/}" method="post">

        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Szukaj transakcji</label>
            <div class="col-sm-5">
                <!--                    <input type="text" th:field="*{title}" class="form-control" id="tytul" placeholder="Tytuł transakcji"-->
                <!--                           required>-->
                <input type="text" class="form-control" id="tytul" placeholder="Tytuł transakcji"
                       required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">Szukaj</button>
            </div>
        </div>

    </form>


    <!-- <h2>Lista transakcji</h2> -->
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Data transakcji</th>
                <th>Kwota</th>
                <th>Tytuł/Odbiorca</th>
                <th>Kategoria</th>
                <th>Typ transakcji</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="payment : ${paymentPage.content}">
                <td><span th:text="${payment?.id}"> ID </span></td>
                <td><span th:text="${payment?.paymentDate}"> Data </span></td>
                <td><span th:text="${payment?.amount}"> Kwota </span></td>
                <td><span th:text="${payment?.title}"> Tytuł/Odbiorca </span></td>
                <td><span th:text="${payment?.paymentCategory.name}"> Kategoria </span></td>
                <td><span th:text="${payment?.paymentType}"> Typ </span></td>
                <td>
                    <a class="button" data-toogle="tooltip" data-placement="top" title="Szczegóły"
                       th:href="${payment.id} + @{/show}">
                        <span data-feather="eye">show</span>
                    </a>
                </td>
                <td>
                    <a class="button" data-toogle="tooltip" data-placement="top" title="Edytuj"
                       th:href="${payment.id} + @{/update}">
                        <span data-feather="edit-2">update</span>
                    </a>
                </td>
                <td>
                    <a class="button" data-toogle="tooltip" data-placement="top"
                       onclick="if(!(confirm('Czy na pewno chcesz usunać tę transakcję?'))) return false" title="Usuń"
                       th:href="${payment.id} + @{/delete}">
                        <span data-feather="trash-2">delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <!--                    todo implementacja 'next' i 'previous'-->
                    <a class="page-link" href="#">Previous</a>
                </li>

                <span th:if="${paymentPage.totalPages > 0}"
                      th:each="pageNumber : ${pageNumbers}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/payments(size=${paymentPage.size}, page=${pageNumber})}"
                           th:text=${pageNumber}>
                        </a>
                    </li>
                </span>

                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
</div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>


