<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>


<div th:replace="fragments :: navigation(homeCurr='', transactionsCurr='(current)', walletsCurr='', budgetsCurr='', categoriesCurr='', reportsCurr='')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h4">Dodaj transakcję</h1>

    </div>

    <form th:action="@{/addTransactionToList/}" th:object="${transaction}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <!--         TODO dodać wyświetlanie ID nowej transakcji lub aktualnie modyfikowanej-->
        <!--        <div class="form-group row">-->
        <!--            <label for="tytul" class="col-sm-2 col-form-label">ID transakcji</label>-->
        <!--            <div class="col-sm-5">-->
        <!--                <p th:text="*{id}">ID</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Tytuł transakcji</label>
            <div class="col-sm-5">
                <input type="text" th:field="*{title}" class="form-control" id="tytul" placeholder="Tytuł transakcji"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Data transakcji</label>
            <div class="col-sm-5">
                <input type="date" th:field="*{transactionDate}" class="form-control" id="data" placeholder="RRRR-MM-DD"
                       required>
            </div>
        </div>


        <!-- <div class="form-group row">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
          </div> -->
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">+ / -</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" th:field="*{transactionType}" type="radio" name="gridRadios"
                               id="gridRadios1" value="EXPENSE" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Wydatek
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" th:field="*{transactionType}" type="radio" name="gridRadios"
                               id="gridRadios2" value="INCOME">
                        <label class="form-check-label" for="gridRadios2">
                            Przychód
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>


        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Kwota</label>
            <div class="col-sm-5">
                <input type="number" th:field="*{amount}" class="form-control" id="tytul" required>
            </div>
        </div>


        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Kategoria</label>
            <div class="col-sm-5">
                <select id="inputState" class="form-control">
<!--                    <option  th:each="transactionCategoryEach : ${transactionCategories}"-->
<!--                            th:value="${transactionCategoryEach.id}"-->
<!--                            th:selected="${transactionCategoryEach.id.equals(transaction.transactionCategory.id)}"-->
<!--                            th:text="${transactionCategoryEach.name}"-->
<!--                            ></option>-->
<!--                    &lt;!&ndash;                    <option selected th:each="transactionCategory : ${transactionCategories}" th:text="${transactionCategory}" th:value="${transactionCategory}" ></option>&ndash;&gt;-->
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Portfel</label>
            <div class="col-sm-5">
                <select id="inputState" class="form-control">
                    <option selected>Portfel...</option>
                    <option>...</option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label for="tytul" class="col-sm-2 col-form-label">Budżet</label>
            <div class="col-sm-5">
                <select id="inputState" class="form-control">
                    <option selected>Budżet...</option>
                    <option>...</option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2">Cykliczność</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Ta transakcja jest cykliczna
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">ZAPISZ TRANSAKCJĘ</button>
            </div>
        </div>
    </form>


    </div>
</main>
</div>
</div>
<div th:replace="fragments :: footer"></div>
</body>

</html>