<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navigation(homeCurr='', paymentsCurr='', walletsCurr='', budgetsCurr='', categoriesCurr='', reportsCurr='(current)')"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Raporty</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wybierz rok
        </button>
        <div class="dropdown-menu">

            <a class="dropdown-item" th:each="i : ${listOfYears}"  th:text="${i}" th:href="@{/reports(year=${i})}"></a>
        </div>
    </div>

    <div class="container">
        <h2 align="center"></h2>

        <div id="container"
             style="width: 800px; height: 400px; margin: 0 auto"></div>
    </div>

    <!--    WYKRES      -->
    <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->


</main>
<div th:replace="fragments :: footer"></div>


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript">
        $(function(){
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Transakcje z roku xxxx'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [[${surveyMap.keySet()}]],
                    crosshair: true
                },
                yAxis: {
                    // min: 0,
                    // max:100,
                    title: {
                        text: 'Wartość sumaryczna transakcji [zł]'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} zł</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true,
                    valueSuffix: ' zł'
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        },
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '',
                    data: [[${surveyMap.values()}]]
                }]
            });
        });
    </script>




</body>
</html>
