<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> BUDGET APP - REJESTRACJA UŻYTKOWNIKA
                <a class="btn btn-outline-success btn-sm float-right" th:href="@{/login}" role="button">
                    Przejdź do logowania</a>

            </div>
            <div class="card-block" style="padding: 24px;">
                <form name="f" th:action="@{/signup}" th:object="${userDto}" method="post">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Błędny login lub hasło.
                        </div>
                        <div th:if="${confirmationMessage}" class="alert alert-success"
                             role="alert" th:text="${confirmationMessage}"></div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            Nastąpiło poprawne wylogowanie.
                        </div>

                        <!-- Login Controls -->
                        <div class="form-group" >
                            <label for="username" class="" th:classappend="${#fields.hasErrors('login')} ? 'text-danger'">Login</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('login')} ? 'is-invalid'"
                                   id="username" th:field="*{login}"
                                   placeholder="Login">

                            <p th:each="error: ${#fields.errors('login')}"
                               th:text="${error}" class="alert alert-danger">Validation error</p>

                        </div>

                        <div class="form-group">
                            <label for="password" class="" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">Hasło</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                                   id="password" th:field="*{password}"
                                   placeholder="Hasło">
                            <p th:each="error : ${#fields.errors('password')}"
                               th:text="${error}" class="alert alert-danger">Validation error</p>
                        </div>
                        <div class="form-group">
                            <label for="retype-password" class="" th:classappend="${#fields.hasErrors('retypedPassword')} ? 'text-danger'">Powtórz hasło</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('retypedPassword')} ? 'is-invalid'"
                                   id="retype-password" th:field="*{retypedPassword}"
                                   placeholder="Powtórz hasło">
                            <p th:each="error : ${#fields.errors('retypedPassword')}"
                               th:text="${error}" class="alert alert-danger">Validation error</p>

                        </div>
                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-primary">Utwórz konto</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
